* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
header {
    background-color: rgb(199, 209, 246, 0.7);
    position: sticky;
    top: 0;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
}

header #brand {
    text-shadow: 2px 1px 5px #a03aa0;
    font-size: 30px;
    font-weight: bold;
    margin: auto;
} 

header img {
    border-radius: 100%;
    width: 50px;
    
}

header nav {
    margin: auto;
    margin-right: 0;

}
header nav a {
    text-decoration: none;
    padding: 10px;
    color: #000;
    background-color: #a03aa0;
    border-radius: 30px;
    margin: auto;
}
header nav a:hover {
    color: #000;
    background-color: #a03aa05f;
    border: 1px solid #411441;
}

header button {
    display: none;
    background-color: inherit;
    border: 1px solid #a03aa0;
    border-radius: 5px;
    font-size: medium;
}


#heading {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
     url(../static/images/background.jpg) no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
#heading h1 {
    font-size: 7vw;
    font-weight: bold;
    padding: 20px 50px;
    color: #a03aa0;
    opacity: 1;
}

#heading p {
    font-size: 2vw;
    padding: 20px 50px;
    color: #a03aa0;
}

.disc {
    border-radius: 20px;
    padding: 20px;
    text-align: justify;
    margin: 20px;
    background-color: #eef2f6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.disc dl {
    text-align: left;
    margin-left: 20%;
}
.disc>ul{
    list-style: none;
    text-align: left;   
    justify-content: space-between;  display: flex;
}
.card>li{
    font-size: medium;
    font-weight: bold;
}

.card {
    display: flex;
    flex-direction: column;   
   
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-card {
    display: inline-block;
    margin: 10px;
}

.footer-card li{
    list-style: none;
    padding: 5px 0;
}
.footer-card a{
   text-decoration: none;
   color: black;
}
.footer-card a:hover{
   text-decoration: none;
   color: #a03aa0;
}

@media screen and (max-width: 480px) {
    header {
        padding-top: auto;
        padding-bottom: auto;
        text-align: left;
        
    }
    header img {
        width: 50px;
        border-radius: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    header span {
       font-size: 20px;
       padding-top: auto;
       padding-bottom: auto;
       margin-top: auto;
       margin-bottom: auto;
    }

    header button {
        display: block;
        background-color: inherit;
        border: 1px solid #a03aa0;
        border-radius: 5px;
        font-size: medium;
    }

    header nav {
        display: none;
    }

    button {
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }

    footer {
        flex-direction: column;
    }
    .footer-card:first-child {
        background-color: rgb(160, 58, 160, 0.7);
        margin: 0;
        color: #000;
    }
    .footer-card:first-child a:hover {
        color: #c92323;
    }
    .footer-card:nth-child(even) {
        background-color: rgb(1, 1, 1);
        margin: 0;
        color: rgb(204, 198, 198);
    }
    .footer-card:nth-child(even) a {
       color: rgb(202, 196, 196);
    }
    .footer-card:nth-child(even) a:hover {
       color: rgb(44, 20, 124);
    }
    .footer-card:last-child {
        background-color: rgba(1, 1, 1, 0.5);
        margin: 0;
    }
}
