* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
header {
    background-color: rgb(199, 209, 246, 0.7);
    position: sticky;
    top: 0;
    margin: 0;
    padding: 10px;
    text-align: center;
    height: 7vw;
    padding-top: auto;
    padding-bottom: auto;
}

header span {
    text-shadow: 2px 1px 5px #a03aa0;
    font-size: 4vw;
    font-weight: bold;
} 

header img {
    border-radius: 100px;
    /* float: left; */ 
    width: 5vw;
    
}

header button {
    float: right;
    background-color: inherit;
    border: 1px solid #a03aa0;
    border-radius: 5px;
    font-size: medium;
    padding-top: auto;
    padding-bottom: auto; 
}

.btn {
    width: 10vw;
    padding-top: auto;
    padding-bottom: auto;
    float: right; 
}
.element {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('your-image.jpg');
  /* Adjust the rgba values for desired opacity and color */
}

#heading {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../static/images/design4.png) no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
#heading h1 {
    font-size: 7vw;
    font-weight: bold;
    padding: 20px 50px;
    color: #a03aa0;
    opacity: 1;
}

#heading p {
    font-size: 2vw;
    padding: 20px 50px;
    color: #a03aa0;
}

.disc {
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    background-color: #eef2f6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 480px) {
    header {
        height: 20vw;
        padding-top: auto;
        text-align: left;
        padding-bottom: auto;
    }
    header img {
        width: 14vw;
        border-redius: 100%;
    }
    
    hearder span {
       font-size: 10vw;
       width: 10vw;
       padding-top: auto;
       padding-bottom: auto;
    }
    
    
} 